@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:wght@100..900&family=Source+Code+Pro:wght@200..900&display=swap');

*, *::before, *::after { box-sizing: border-box; }

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background: url('https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    center / cover no-repeat fixed;

  display: grid;
  place-items: center;
}

.Frame{
  padding: 20px;
  text-align: center;
  background-color: rgba(5, 2, 2, 0.482);
  border-radius: 10px;

  width: min(92vw, 420px);
  min-height: 400px;

  font-family: 'Libre Baskerville', serif;
  color: white;
}

#Paragraph{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 15px;
}

#submitBtn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 0.8em;
  font-family: 'Source Code Pro', monospace;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid white;
  cursor: pointer;
}
#submitBtn:hover{
  background-color: #d9d5d5dc;
  color: black;
}